<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /clinica_salud/

    # Si el archivo o directorio existe, no reescribir
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Rutas de mecanicos
    RewriteRule ^frontend/mecanicos/([^/]+)$ frontend/mecanicos/$1.php [L]
    RewriteRule ^frontend/mecanicos/editar/([^/]+)$ frontend/mecanicos/editar/$1.php [L]

    # Rutas de clientes
    RewriteRule ^frontend/clientes/mostrar/([^/]+)$ frontend/clientes/mostrar/$1.php [L]
    RewriteRule ^frontend/clientes/editar/([^/]+)$ frontend/clientes/editar/$1.php [L]
    RewriteRule ^frontend/clientes/detalle/([^/]+)$ frontend/clientes/detalle/$1.php [L]

    # Rutas de productos
    RewriteRule ^frontend/productos/([^/]+)$ frontend/productos/$1.php [L]
    RewriteRule ^frontend/productos/editar/([^/]+)$ frontend/productos/editar/$1.php [L]
    RewriteRule ^frontend/productos/detalle/([^/]+)$ frontend/productos/detalle/$1.php [L]

    # Rutas de especialidades
    RewriteRule ^frontend/recursos/([^/]+)$ frontend/recursos/$1.php [L]
    RewriteRule ^frontend/recursos/especialidad/([^/]+)$ frontend/recursos/especialidad/$1.php [L]
    RewriteRule ^frontend/recursos/especialidad_nuevo([^/]+)$ frontend/recursos/especialidad_nuevo/$1.php [L]

</IfModule>
